/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
/*Navegador*/
header {
    background: #50b3a2;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}
nav a{
    font-weight: 600;
    padding-right: 100px;
}
.nav-link {
  text-decoration: none; /* Elimina el subrayado */
  color: white; /* Establece el color del texto */
  padding: 10px 20px; /* Agrega espacio alrededor del texto */
  transition: background-color 0.3s, color 0.3s; /* Suaviza los cambios de color */
}
.nav-link:hover {
  background-color: #68c5b7; /* Nuevo color de fondo */
  color: #fff; /* Nuevo color de texto */
}
/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .nav-link {
        padding: 10px 10px; /* Reduce el espacio alrededor del texto para pantallas pequeñas */
    }
}
/*Titulo y links para vincular info en el sitio web*/
nav ul {
  list-style: none; 
  display: flex; 
  padding: 0;
  margin: 0; 
}
nav ul li {
  margin-right: 20px; 
}
@font-face{
    font-family: "parrafos";
    src: url("Nicolast.ttf") format("truetype");
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
/*cuerpo*/
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #50b3a2;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
