body {
  background-image: url('https://th.bing.com/th/id/R.e94f85c22243dca8c449be055c83011c?rik=9A7uG91GukfCnQ&pid=ImgRaw&r=0');
  background-size: cover; 
  background-repeat: no-repeat;
 
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 60px;
}
nav {
	font-weight: 600;
	padding-right: 100px;
}
.nav-link {
  text-decoration: none; /* Elimina el subrayado */
  color: white; /* Establece el color del texto */
  padding: 10px 20px; /* Agrega espacio alrededor del texto */
  transition: background-color 0.3s, color 0.3s; /* Suaviza los cambios de color */
}
.nav-link:hover {
  background-color: #68c5b7; /* Nuevo color de fondo */
  color: #fff; /* Nuevo color de texto */
}
nav ul {
  list-style: none; 
  display: flex; 
  padding: 0;
  margin: 0; 
}
nav ul li {
  margin-right: 20px; 
}
@font-face{
	font-family: "parrafos";
	src: url("8-bit Arcade Out.ttf") format("truetype");
}
#titulo1{
	text-align: center;
	color: white;
	font-family: 'parrafos';
	font-size: 180px;
}