body{
	background-color: lightgray;
}
.merienda-<uniquifier> {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1{
	font-family: Merienda;
	align-content: center;
	font-size: 50px;
}
input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%; 
    border: none;
    border-bottom: 2px solid black; 
}
button {
    background-color: blue;
    color: white;
}
label{
	font-size: 17px;
}
input[type="submit"]{
	background-color: lightblue;
	color: white;
}
