body {
  background-image: url('https://th.bing.com/th/id/R.e94f85c22243dca8c449be055c83011c?rik=9A7uG91GukfCnQ&pid=ImgRaw&r=0');
  background-size: cover; 
  background-repeat: no-repeat;
 background-attachment: fixed;
 font-family: 'Montserrat', sans-serif;
}
/*Navegador*/
header {
	background-color:  rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente */
  padding: 20px 60px; /* Espaciado alrededor del contenido del header */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en líneas múltiples */
  border-bottom: 1px solid #fff;
  backdrop-filter: blur(10px);
  position: sticky;
 	top: 0;
	z-index: 1000;
}

nav {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos de navegación se ajusten en líneas múltiples */
  justify-content: center; /* Centra los elementos de navegación */
  width: 100%; /* Asegura que la navegación ocupe todo el ancho disponible */
}

.nav-link {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Establece el color del texto */
    padding: 10px 20px; /* Agrega espacio alrededor del texto */
    transition: background-color 0.3s, color 0.3s; /* Suaviza los cambios de color */
    flex-grow: 1; /* Permite que los enlaces crezcan para llenar el espacio */
    text-align: center; /* Alinea el texto de los enlaces al centro */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
}

.nav-link:hover {
    background-color: #68c5b7; /* Nuevo color de fondo al pasar el mouse */
    color: black; /* Nuevo color de texto al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		transform: scale(1.1);
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .nav-link {
        padding: 10px 10px; /* Reduce el espacio alrededor del texto para pantallas pequeñas */
    }
}
/*cuerpo
#t1{
	background-color: #6691d4;
	text-align: center;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}*/
h1 {
			text-align: center;
			color: #ffe8ee;
			font-size: 2em;
			margin-top: 20px;
		}
#content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 20px;
		}
.column {
	background: linear-gradient(135deg, rgba(102, 145, 212, 0.8), rgba(80, 125, 190, 0.8));
	color: #fff;
	border-radius: 15px;
	padding: 20px;
	margin: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: calc(33% - 40px);
	box-sizing: border-box;
	transition: transform 0.3s ease, background 0.3s ease;
}
.column:hover {
	transform: scale(1.05);
	background: linear-gradient(135deg, rgba(80, 125, 190, 0.9), rgba(102, 145, 212, 0.9));
}
.column h1 {
	font-size: 1.2em;
	margin: 0;
}
@media (max-width: 768px) {
	.header {
		flex-direction: column;
		padding: 10px 30px;
	}
	.nav-link {
		margin: 5px 0;
	}
	.column {
	width: calc(100% - 40px);
		margin: 10px;
	}
}
