/*Navegador*/
header {
  background-color:  rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente */
  padding: 20px 60px; /* Espaciado alrededor del contenido del header */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en líneas múltiples */
  border-bottom: 1px solid #fff;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos de navegación se ajusten en líneas múltiples */
  justify-content: center; /* Centra los elementos de navegación */
  width: 100%; /* Asegura que la navegación ocupe todo el ancho disponible */
}

.nav-link {
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Establece el color del texto */
    padding: 10px 20px; /* Agrega espacio alrededor del texto */
    transition: background-color 0.3s, color 0.3s; /* Suaviza los cambios de color */
    flex-grow: 1; /* Permite que los enlaces crezcan para llenar el espacio */
    text-align: center; /* Alinea el texto de los enlaces al centro */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
}

.nav-link:hover {
    background-color: #68c5b7; /* Nuevo color de fondo al pasar el mouse */
    color: black; /* Nuevo color de texto al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .nav-link {
        padding: 10px 10px; /* Reduce el espacio alrededor del texto para pantallas pequeñas */
    }
}
/*extras*/
body{
	background-color: black;
}
h1{
	font-family: 'Danfo', serif ;
	color: white;
	text-align:center;
	font-size: 100px;
}

.danfo {
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:"ELSH" 0;
}

/*Carrusel*/
.carousel {/*Estilos para la clase carousel*/
  position: relative;
  max-width: 600px;/*Limita el ancho maximo a 600px*/
  margin: auto;/*Centra horizontalmente */
  overflow: hidden;/*Oculta el exeso de la imagen*/
}
.carousel-content {
  display: flex;/*Las imagenes se muestran en una fila horizontalmente*/
}

.carousel-content img {
  width: 100%;/*La imagen ocupe todo el ancho del carusel ya establecido */
  display: none;/*Las imagenes estan ocultas */
}

.carousel-content img.active {
  display: block;/*Cuando a la imagen tiene active se muestra */
}
button {
  position: absolute;
  top: 50%;/*El boton se coloca verticalmente en el centro del carrusel*/
  transform: translateY(-50%);/*Asegura que los botones se centren correctamente*/
  background: rgba(0, 0, 0, 0.5);/*Fondo semitransparente para los botones*/
  color: white;/*Color de la letra de los botones es blanco*/
  border: none;/*Se elimina el borde de los botones*/
  padding: 10px;/*Espacio de los botones alrededor del texto del boton*/
  cursor: pointer;/*Cambia el cursor a una manita cundo se pasa por los botones */
}
#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
/*Tabla de imagenes*/
table {
    width: 90%; /* Asegura que la tabla use todo el ancho disponible */
    margin: auto; /* Centra la tabla horizontalmente */
}

td {
		width: 200px;
    text-align: center; /* Centra el contenido de cada celda */
    vertical-align: middle; /* Alinea verticalmente el contenido en el medio */
}

td img {
    max-width: 100%; /* Establece un ancho máximo para la imagen */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    display: block; /* La imagen se comporta como un bloque */
    margin: auto; /* Centra la imagen horizontalmente */
    object-fit: contain; /* Asegura que la imagen se ajuste al contenedor sin perder proporciones */
}

