body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Encabezado */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Títulos */
h1, h2, h3, h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Enlaces */
a {
    color: #80FFFF;
    text-decoration: none;
}

/* Lista de proyectos */
#proyectos {
    margin: 20px;
}

/* Estilos para las prácticas */
ol {
    list-style-type: decimal;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Enlaces de las prácticas */
ol a {
    color: #007bff;
    text-decoration: none;
}

/* Estilos para las secciones */
section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
